*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.heading-2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem; }

.header {
  width: 100%;
  padding: 3rem;
  font-size: 3rem;
  color: #fff;
  background-color: #27ae60;
  margin-bottom: 3rem; }

.task-input {
  padding: 3rem; }
  .task-input__task {
    width: 40%;
    font-family: inherit;
    font-size: 1.6rem;
    padding: .5rem 0;
    border: none;
    border-bottom: solid #95a5a6 0.1rem;
    margin-bottom: 1.6rem; }
    .task-input__task:focus {
      outline: none; }
  .task-input__btn {
    display: block;
    padding: 1.3rem 4rem;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    color: #fff;
    background-color: #16a085;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .task-input__btn:hover {
      background-color: #0d5d4d; }

.task-list {
  padding: 3rem; }
  .task-list__filter {
    width: 40%;
    font-family: inherit;
    font-size: 1.6rem;
    padding: .5rem 0;
    border: none;
    border-bottom: solid #95a5a6 0.1rem;
    margin-bottom: 1.6rem; }
    .task-list__filter:focus {
      outline: none; }
  .task-list__btn {
    display: inline-block;
    padding: 1.2rem 3.3rem;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .task-list__btn:hover {
      background-color: #242b2b; }
